# Check that "stuck" waiting tasks are removed if both parents finished.
# qux spawned and run on foo:fail
# baz spawned waiting, on bar:succeed
# baz spawned early on foo:fail (to remember that foo finished)
# baz waiting removed when bar finishes (both parents finished).

[scheduling]
   [[graph]]
      R1 = """
   foo & bar => baz
   foo:fail => qux
           """
[runtime]
   [[root]]
      script = sleep 10
   [[foo]]
      script = false
