# qux should be spawned and run
# baz should be spawned but stuck waiting

[scheduling]
   [[graph]]
      R1 = """
   foo & bar => baz
   foo:fail => qux
           """
[runtime]
   [[root]]
      script = sleep 10
   [[foo]]
      script = false
