# Branching without suicide triggers.
# Test both branches, in different cycle points.
# "finish" removed by active pool housekeeping.
[scheduling]
   cycling mode = integer
   initial cycle point = 1
   final cycle point = 4
   [[graph]]
       P1 = """
          model:fail => recover
          model => post
          post | recover => finish
            """
[runtime]
  [[root]]
     script = sleep 10
  [[model]]
     script = """
         if (( CYLC_TASK_CYCLE_POINT == 1 )); then
            false
         fi   """
