# Check conditional-reflow prevention.
#   baz should stay in the pool until both foo and bar have finished.

[scheduling]
   [[graph]]
      R1 = "foo | bar => baz => boof"
[runtime]
   [[foo]]
      script = sleep 1
   [[bar]]
      script = sleep 15
   [[baz]]
      script = sleep 5
   [[boof]]
      script = sleep 25
