# Back-compat: suicide triggers are no longer needed for branching
# but check that they still work as for Cylc 7 workflow defintions.
# (they actually cause spawning of the task that need to be removed).

[scheduling]
   cycling mode = integer
   initial cycle point = 1
   final cycle point = 2
   [[graph]]
       P1 = """
          model:fail => recover1 => recover2 => recover3
          model => post1 => post2 => post3
          post3 | recover3 => finish
          model => !recover1 & !recover2 & !recover3
          model:fail => !post1 & !post2 & !post3
            """
[runtime]
  [[root]]
     script = sleep 10
  [[model]]
     script = """
         if (( CYLC_TASK_CYCLE_POINT == 1 )); then
            false
         fi   """
