# Task "stuck" should be stuck as waiting but not hold back the workflow.
# Task "slow" runs slowly so it should determine the runahead for "fast".

[scheduling]
    cycling mode = integer
    initial cycle point = 1
    max active cycle points = 5
    [[graph]]
        R1 = """
          foo:fail => alert
          foo & fast => stuck
             """
        P1 = """
          fast[-P1] => fast & slow
          slow[-P1] => slow
             """
[runtime]
   [[root]]
      script = sleep 1
   [[foo]]
      script = false
   [[coffee]]
      script = sleep 10
