# Check inter-cycle trigger edge case.
# foo should run once in first cycle and spawn bar in second cycle.
# The workflow should stall when bar finishes.
[scheduling]
    cycling mode = integer
    initial cycle point = 1
    final cycle point = 10
    [[graph]]
        R1 = "foo"
        P1 = "foo[-P1] => bar"
[runtime]
   [[root]]
      script = sleep 5
