# Check inter-cycle trigger edge case.
# bar needs to auto-spawn but only after the first cycle point.

# (TODO 2nd-cycle bar should be able to go immediately, not wait for the first
# to be released from the runahead pool).
[cylc]
   cycle point format = %Y
[scheduling]
    initial cycle point = 2020
    final cycle point = 2024
    [[graph]]
        R1 = "foo[-P1Y] => foo => bar"
        P1Y = "bar => baz"  # starts at ICP!
[runtime]
   [[root]]
      script = sleep 10
