[scheduling]
   cycling mode = integer
   initial cycle point = 1
   final cycle point = 5
   [[graph]]
       P1 = """
          # Fail is handled but does not continue the workflow toward
          # completion!
          foo[-P1] => foo
          foo => bar => baz
          foo:fail => notify => alert
          # Can we say, if foo:fail is handled, the handlers must continue the
          # workflow toward completion, else assume the new end point is new
          # completion point? (shut down on empty pool?)
          # Or if not, stay alive with last thing to happen in the pool (and
          # window)??
          """
[runtime]
   [[root]]
       script = sleep $(( 5 + RANDOM % 5 ))
   [[foo]]
       script = """
   if (( CYLC_TASK_CYCLE_POINT == 1 && CYLC_TASK_SUBMIT_NUMBER == 1 )); then
      false
   fi
   """
